body{
    background-image: url(../images/background.jpg);
    background-size: cover;
}
#project2{
    padding-bottom: 82px;
}
.footer {
    background-color: #333a41;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  #email{
    color: white;
  }