body{
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
#project2{
    padding-bottom: 82px;
}
#bottom-row{
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
.footer {
    background-color: #333a41;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
#email{
    color: white;
}