body{
    background-image: url(../images/background.jpg);
    background-size: cover;
}

.footer {
    background-color: #333a41;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }